<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LangLearner</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        if (sessionStorage.getItem("sourceLanguage") === null ||
            sessionStorage.getItem("targetLanguage") === null) {
            window.location = "settings.html";
        }
    </script>
</head>

<body>
<a style="font-size:30px" href="settings.html">⚙️</a>
<div id="app" class="center">
    <div style="font-size:24px;">Translate<br><b>{{source}}</b> → <b>{{target}}</b></div>

<div class="card">{{card.visibleWord}}</div>

    <div v-if="card.answerIsCorrect === true">
    Your answer: {{answer}}
    </div>
    <div v-else>
        <form autocomplete="off" @submit.prevent="submitAnswer">
        <label for="answer">Your answer: </label>
        <input v-model="answer" ref="answer" id="answer" autofocus="autofocus" type="text">
    </form>
    </div>

    <div id="feedback">
        <span v-if="card.answerIsCorrect === true">Correct!</span>
        <span v-else-if="card.answerIsCorrect === false">That is incorrect.</span>
        <span v-else><br></span>
    </div>

    <div style="position:relative;text-align:right">
        <div v-if="card.answerIsVisible || card.answerIsCorrect">
        <input type="button" @click="drawNext" value = "Draw next">
        </div>
        <button v-else>Show answer</button>
    </div>
</div>
</body>
<script type="module" src="js/main.js"></script>
</html>