<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<div id="app">
    <header>
<a v-if="deckChosen"
   style="font-size:30px" href="index.html" id = "backButton">❮</a>
    </header>
<main v-cloak>
    <h2>Choose a deck:</h2>
    <select @change="selectSource" v-model="sourceLanguage">
        <option :value="null" selected disabled hidden>Source</option>
        <option v-for="sourceLanguageOption in sourceLanguageOptions()">{{sourceLanguageOption}}</option>
    </select>
    →
    <select v-model="targetLanguage">
        <option :value="null" selected disabled hidden>Target</option>
        <option v-for="targetLanguageOption in targetLanguageOptions()">{{targetLanguageOption}}</option>
    </select>
    <br>
    <br>
    <input @click="changeLanguage" type="button" value = "Apply">
</main>
</div>
<script src="js/settings.js"></script>
</body>
</html>